<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>


    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go home">
            <img src="/assets/avatar.png" alt="" width="48">
        </a>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/notes">Notes</a>
        </nav>
    </header>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
      <h3 class="w3-bar-item">Menu</h3>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
    </div>
    <main style="width:25%">
        {{content}}
    </main>

    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>
</html>